.RservTbl >h1
{
    color: gold;
    text-align: center;

    
}

.col1{
   
    grid-area: item1;
    
}
.col2{
   
    grid-area:item2;
    

}
.col3{
    
    grid-area:item3;
   

}
.col4{
    
    grid-area:item4;
    

}
.col5{
   
    grid-area:item5;
    

}
.col6{
    
    grid-area:item6;
    
}
.col7
   {grid-area:item7;
  

}
.col8{
    
    grid-area:item8;
    

}
.BkngForm
{
    align-items: baseline;
    display: grid;
    margin:3% 10% 10% 10%;
    padding: 2%;
    border: 1cap;
    align-items: center;
    border-style: dotted;
    grid-column: 2;
    grid-row: auto;
    grid-template-areas: 'item1 item2 '
                            'item3 item4'
                            'item5 item6'
                            'item7 item8' ;
                            
    justify-content:center;
    grid-gap: 10px;
    background-color: rgb(238, 205, 162);
}
