.foot1
{
    grid-area: i1;
    width:200px;
    }
.foot2
{
    grid-area: i2;
    text-decoration: none;
    border: 1;
    }
.foot3
{
    grid-area: i3;
}
.foot
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 4;
       grid-template-areas: 'l1 l1 l1 i1 i1 i1 i2 i2 i2 i3';
                             
    background-color: darkgray;
    grid-auto-flow: column;
    
}
.logo1
{
    float: left;
    border: 1cap;
  grid-area: item1;
    width: 430px;
    height: 140px;
    flex-shrink: 0;
    margin: auto;
    padding: auto;}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000;
}