
.nav-container{
    display: grid;
    width: 1440px;
    height: 140px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;
    grid-template-areas: 'item1 item2 item2';
    
}
.logo
{
    float: left;
    border: 1cap;
  grid-area: item1;
    width: 430px;
    height: 140px;
    flex-shrink: 0;
    margin: auto;
    padding: auto;

}
.menu
{
    width: 870px;
    height: 140px;
    border: 1cap;
    grid-area: item2;
    line-height: 1.5;
    float:right;
   vertical-align: middle;
   background-color: white;
}
.nav-ul
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000;
}
.nav-ul  > li
{
     
        font-family:Markazi;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        list-style-type: none;
        float:left;
        vertical-align:middle;
 
     
}
.nav-ul >li > a {
    
    color: rgb(22, 7, 7);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    vertical-align: middle;
  }

 